.home-page-header {
    background-color: rgb(255, 255, 255);
    cursor: default;
    position: fixed;
    top: 0px;
    transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
    width: 100vw;
    height: 60px;
    z-index: 100;
    background-color: #fff;
    // padding: 0 10px;
    @media (max-width: 905px) {
        padding-inline-end: 0;
    }
    @media (max-width: 600px) {
       nav{
        height: 60px;
       }
    }

    .guest-button {

        height: 100%;
        font-size: 16px;
        padding: 0.7rem 1rem 0.8rem;
        color: #fff;
        background-color: rgb(0, 101, 255);
        margin: 0;
        font-size: 20px;
    }
    .left-home-header{
        display: block;
        padding-inline-start: 10px;
    }
    .right-home-header {
        display: flex;
        height: 60px
    }
 
    
    .logo-img-home {
        width: rem(135px);
        // height: 50px;
    }

    .home-logo-page {
        display: contents;
    }


    .login-button {
        -webkit-box-align: center;
        align-items: center;
        align-self: stretch;
        color: rgb(23, 43, 77);
        display: flex;
        font-size: 19px;
        height: 100%;
        margin: 0;
        padding: 0.5rem 1.5rem;
        text-decoration: none;

    }

    nav {
        max-width: 1320px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.boards-page {
    display: flex;

    .logo-img-board {
        width: rem(90px);
    }

    .home-logo-page {
        display: contents;
    }

    nav {
        flex-grow: 1;
        padding: 4px 6px;
        height: 44px;
        background-color: #026AA7;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .create-board-btn {
        background-color: #a5a5a550;
        height: 32px;
        width: 62px;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background-color: #ffffff3b;
        }
    }

    .boards-header-btn {
        // background-color: #026AA7;
        background-color: transparent;
        height: 32px;
        // opacity: 1;
        border-radius: 3px;
        cursor: pointer;

        &:hover {

            background-color: #ffffff3b;
        }
    }

    .search-boards {
        position: relative;
        background-color: #a5a5a550;
        border: none;
        border-radius: 5px;
        // opacity: 1;
        height: 32px;
        position: relative;
        max-width: 100%;
        width: 200px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(23, 43, 77, 0.16);

        &:focus-within {
            // width: rem(890px);
            flex: 1;

            .board-menu {
                display: block;
            }
        }

        .board-menu {
            // !uncomment when done
            display: none;
            position: absolute;
            width: 100%;
            z-index: 1;
            left: 0;
            top: calc(100% + 0.5rem);
            padding: 0;
            margin: 0;
            list-style: none;
            background-color: #fff;
            border-radius: 3px;
            color: #172b4d;

            &-header {
                padding: 1em;
                color: #5e6c84;
                font-weight: 600;
                font-size: 14px;
            }

            &-item {
                cursor: pointer;
                margin: 0;
                width: 100%;
                text-align: start;
                color: #172b4d;
                padding: 0.5em 1em;
                gap: 0.5em;
                transition: 0.085s;

                &:hover {
                    background-color: #f5f5f5;
                }
                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 3px;
                }

                span {
                    font-size: 16px;
                }

                .residence {
                    font-size: 12px;
                    color: #5e6c84;
                }

                &:last-child {
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
            }
            
        }
    }

    &:focus+span {
        color: red;
    }
}

.left-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 12px;
}

.right-header {
    display: flex;
    gap: 5px;

    &:focus-within {
        flex: 1;
    }

    .board-search-input {
        &:focus {
            border: 1px solid $blue;

            // flex: 1;
            &::placeholder {
                color: $clr3;
            }

            &+span {
                color: black;
            }
        }

    }

    button {
        background-color: transparent;
        color: #fff;
        border-radius: 3px;
        padding: 2px 5px;
        margin: 2px;

        &:hover {
            background-color: #55a1cd;
        }
    }


    .magnifying-glass {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 8px;
        left: 8px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input {
        padding: 0px 12px 0px 30px;
        border: none;
        font-size: 14px;
        width: 200px;
        height: 32px;
        background-color: transparent;

        &::placeholder {
            color: #fff;
            position: relative;
            top: 3px;
        }

        &:focus {
            ::placeholder {
                color: #172b4d;
                position: relative;
                top: 3px;
            }

            width: 100%;
            background-color: #fff;
            border: none;
            outline: none;
            line-height: 20px;
            border-radius: 3px;
            color: rgb(0, 0, 0);

            // .search-boards {
            //     background-color: #fff;
            //     width: 780px;
            //     line-height: 20px;
            //     color: black;
            //     border-radius: 3px;
            //     border: 2px solid #388bff;


            // }

            .magnifying-glass {
                color: #172b4d;
            }

        }
    }

    .open-user-modal-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .user-modal {
    //     position: fixed;
    //     max-height: 861px;
    //     background-color:#fff ;
    //     padding: 12px 0;
    //     width: 304px;
    //     min-height: 250px;
    // }
    .mini-head {
        font-size: 12px;
        display: flex;
        padding: 0 1px;
        line-height: 16px;
        color: #5e6c84;
        font-weight: 600;
        margin-top: 12px;
        margin-bottom: 8px;
    }

    .user-img-header {
        width: 30px;
        height: 24px;
        border-radius: 50%;
    }

    .userInitials {
        background-color: #b5b5b67e;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 24px;
        height: 24px;

    }

    .anonymousUser-img {
        width: 20px;
        height: 20px;
        ;
    }

    .bell-img-header {
        width: rem(20px);
    }

    .circle-img-header {
        width: rem(20px);

    }

    .profile-icon {
        color: #fff;
        width: 28px;
        background-size: cover;
        border-radius: 50%;
        font-size: 16px;
        font-weight: 600;
    }
}



@media (max-width: 500px) {
    .secondary-btn {
        display: none;
    }
    .search-boards {
        &:focus-within {
            // width: rem(200px);
            flex: 1;
        }
}
}

.hamburger {
    margin-inline-end: 10px;
    width: 60px;
    height: 45px;
    position: relative;
    // margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
 .hamburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

.hamburger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  .hamburger span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  .hamburger span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  .hamburger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }
  
  .hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  .hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
  }
