.home-page-header {
    background-color: rgb(255, 255, 255);
    cursor: default;
    position: fixed;
    top: 0px;
    transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
    width: 100vw;
    z-index: 100;
    background-color: #fff;
    padding: 10px;

    .logo-img-home {
        width: rem(120px);
        // height: 50px;
    }

    .home-logo-page {
        display: contents;
    }

    .login-button {
        -webkit-box-align: center;
        align-items: center;
        align-self: stretch;
        color: rgb(23, 43, 77);
        display: flex;
        font-size: 1.2rem;
        height: 100%;
        padding: 0.5rem 1.5rem;
        text-decoration: none;

    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.boards-page {
    .logo-img-board {
        width: rem(90px);
    }

    .home-logo-page {
        display: contents;
    }

    nav {
        padding: 4px 6px;
        height: 44px;
        background-color: #026AA7;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .create-board-btn {
        background-color: #013857;
        height: 32px;
        width: 62px;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background-color: #038cdb;
        }
    }

    .boards-header-btn {
        background-color: #026AA7;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background-color: #025281;
        }
    }

    .search-boards {
        background-color: #0483cdc1;
        border: none;
        border-radius: 5px;
        // opacity: 1;
        height: 32px;
        width: 200px;
        &::placeholder {
            color: #fff;
        }
&:focus{
    background-color: #fff;
    width: 780px;
    border: none;
    outline: none;
    line-height: 20px;
    border: 2px solid #388bff;
    
        &::before{
            color: black;
            content: 'hello';
        }
    
}
    }

    .left-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-header {
        display: flex;
        gap: 5px;

        button {
            background-color: transparent;
            color: #fff;
            border-radius: 3px;
            padding: 2px 5px;
            margin: 2px;

            &:hover {
                background-color: #55a1cd;
            }
        }

        .user-img-header {
            width: rem(20px);
        }

        .bell-img-header {
            width: rem(20px);
        }

        .circle-img-header {
            width: rem(20px);

        }
    }
}