.home-page-header {
    background-color: rgb(255, 255, 255);
    cursor: default;
    position: fixed;
    top: 0px;
    transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
    width: 100vw;
    height: 60px;
    z-index: 100;
    background-color: #fff;
    padding: 0 10px;
    @media (max-width: 905px) {
        padding-inline-end:0;
    }
    .guest-button {

        height: 100%;
        font-size: 16px;
        padding: 0.7rem 1rem 0.8rem;
        color: #fff;
        background-color: rgb(0, 101, 255);
        margin: 0;
        font-size: 20px;
    }

    .right-home-header {
        display: flex;
        height: 60px
    }


    .logo-img-home {
        width: rem(135px);
        // height: 50px;
    }

    .home-logo-page {
        display: contents;
    }


    .login-button {
        -webkit-box-align: center;
        align-items: center;
        align-self: stretch;
        color: rgb(23, 43, 77);
        display: flex;
        font-size: 19px;
        height: 100%;
        margin: 0;
        padding: 0.5rem 1.5rem;
        text-decoration: none;

    }

    nav {
        max-width: 1320px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.boards-page {
    display:flex;
    .logo-img-board {
        width: rem(90px);
    }

    .home-logo-page {
        display: contents;
    }

    nav {
        flex-grow:1;
        padding: 4px 6px;
        height: 44px;
        background-color: #026AA7;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .create-board-btn {
        background-color: #a5a5a550;
        height: 32px;
        width: 62px;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background-color: #ffffff3b;
        }
    }

    .boards-header-btn {
        // background-color: #026AA7;
        background-color: transparent;
        height: 32px;
        // opacity: 1;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            
            background-color: #ffffff3b;
        }
    }

    .search-boards {
        background-color: #a5a5a550;
        border: none;
        border-radius: 5px;
        // opacity: 1;
        height: 32px;
        position: relative;
        max-width: 100%;
        width: 200px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(23, 43, 77, 0.16);

        &:focus-within {
            // width: rem(890px);
            flex: 1;
        }
    }

    &:focus+span {
        color: red;
    }
}

.left-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 12px;
}

.right-header {
    display: flex;
    gap: 5px;
    &:focus-within{
        flex: 1;
    }

    .board-search-input {
        &:focus {
            border: 1px solid $blue;
            // flex: 1;
            &::placeholder {
                color: $clr3;
            }

            &+span {
                color: black;
            }
        }
    }

    button {
        background-color: transparent;
        color: #fff;
        border-radius: 3px;
        padding: 2px 5px;
        margin: 2px;

        &:hover {
            background-color: #55a1cd;
        }
    }


    .magnifying-glass {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 8px;
        left: 8px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input {
        padding: 0px 12px 0px 30px;
        border: none;
        font-size: 14px;
        width: 200px;
        height: 32px;
        background-color: transparent;

        &::placeholder {
            color: #fff;
            position: relative;
            top: 3px;
        }

        &:focus {
            ::placeholder {
                color: #172b4d;
                position: relative;
                top: 3px;
            }

            width: 100%;
            background-color: #fff;
            border: none;
            outline: none;
            line-height: 20px;
            border-radius: 3px;
            color: rgb(0, 0, 0);

            .search-boards {
                background-color: #fff;
                width: 780px;
                line-height: 20px;
                color: black;
                border-radius: 3px;
                border: 2px solid #388bff;
            }

            .magnifying-glass {
                color: #172b4d;
            }

        }
    }

    .open-user-modal-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .user-modal {
    //     position: fixed;
    //     max-height: 861px;
    //     background-color:#fff ;
    //     padding: 12px 0;
    //     width: 304px;
    //     min-height: 250px;
    // }
    .mini-head {
        font-size: 12px;
        display: flex;
        padding: 0 1px;
        line-height: 16px;
        color: #5e6c84;
        font-weight: 600;
        margin-top: 12px;
        margin-bottom: 8px;
    }

    .user-img-header {
        width: 30px;
        height: 24px;
        border-radius: 50%;
    }
    .userInitials{
        background-color: #b5b5b67e;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        
    }
    .anonymousUser-img{
        width:  20px;
        height: 20px; ;
    }

    .bell-img-header {
        width: rem(20px);
    }

    .circle-img-header {
        width: rem(20px);

    }
    .profile-icon{
        color: #fff;
        width: 28px;
        background-size: cover;
        border-radius: 50%;
        font-size:16px;
        font-weight: 600;
    }
}



@media (max-width: 500px){
    .secondary-btn{
       display:none;
    }
    .search-boards {
        &:focus-within {
            // width: rem(200px);
            flex: 1;
        }
}
}