.attachment-display{
    ul{
        gap:10px;
    }
    .img-container{
        width:112px;
        height:80px;
        margin-inline-end: rem(17px);
    img{
        width:100%;
        height:100%;
        object-fit: contain;
    }
}
    .attachment-info{
        width: 100%;
        padding-top: rem(4px);
        a{
            color:black;
            font-weight: bold;;
        }
        .actions>*{
            text-decoration: underline;
        }
    }
    input{
        border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
  height:1rem;
  &:focus{
    outline: none;
    color:unset;
  }
    }
}