.board-creator{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: rem(13px);
    min-height: 500px;
    width: 307px;
    border: 2px solid $clr2;
    border-radius: 4px;
    header{
        line-height: 23px;
        padding-bottom:0.5em;
        text-align: center;
        border-bottom:2px solid $clr2;
        color: #5e6c84;
        & .close{
            position: absolute;
            right: 5px;
            top: 12px;
        }
    }

    & .preview-display{
        width: 200px;
        height: 120px;
        border-radius:3px;
        margin:auto;
    }

    input{
        width:100%;
        height:rem(45px);
        border-radius: 4px;
        border:unset;
        border:2px solid $blue;
        outline: none;
        font-size: 14px;
        padding-block: 8px;
        padding-inline:1em;

        &:hover{
            background-color: #ebecf0;
        }

        &:valid:not(:focus){
            background-color: #ebecf0;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            border: 0;
        }
        

        &:not(:valid){
            box-shadow: inset 0 0 0 2px #eb5a46;
            border: 0;
        }
        
    }
    & .label{
       color: #5e6c84;
       font-weight: 700;
       font-size: 12px;
       & .mandatory{
        color: #eb5a46;
       }
    }
    .custom-images-list{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding-inline-start: 0;
        >*{
        background-color: #172B4D;
            width: 64px;
            height: 40px;
            border-radius: 4px;
            color: #e4f0f6;
        }
    }

    .color-list{
        list-style: none;
        padding-inline-start: 0;
    }

    .color-list > *{
        height: 32px;
        width: 40px;
        border-radius: 3px;
        &.red-btn {
            background-color: #b04632;
        }

        &.green-btn {
            background-color: #519839;
        }
    
        &.yellow-btn {
            background-color: #d29034;
        }
    
        &.purple-btn {
            background-color: #89609e;
        }
    
        &.blue-btn {
            background-color: #0079bf;
        }

        &.more-btn{
            background-color: rgba(9, 30, 66, 0.04);
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: rgba(9, 30, 66, 0.08);
            }
            &:active{
                background-color: #e4f0f6;
                color: #0079bf;
            }
            &::before{
                content: '\E952'
            }
        }
        // &.orange-btn {
        //     background-color: #FFAF3F;
        // }
    
        // &.bright-blue-btn {
        //     background-color: #29CCE5;
        // }
    
        // &.bright-green-btn {
        //     background-color: #6DECA9;
        // }
    
        // &.pink-btn {
        //     background-color: #FF8ED4;
        // }
    
        // &.dark-blue-btn {
        //     background-color: #172B4D;
        // }
    }

    & .save-btn{
        background-color: #026aa7;
        border: none;
        color:  #ffffff;
        width: 100%;
        border-radius: 3px;
        margin-inline: 0;
        padding-block: 6px;
        font-size: 14px;
    }
}

@media (max-width: 750px) {
    .board-creator{
        left: 0;
    }
}