.board-creator{
    padding: rem(13px);
    height: rem(853px);
    width: 36.8rem;
    border: 2px solid $clr2;
    border-radius: 4px;
    header{
        border-bottom:2px solid $clr2;
    }
    input{
        width:100%;
        height:rem(40px);
    border-radius: 4px;
    border:unset;
    border:2px solid $blue;

        
    }
}