.card-preview {
    min-height: em(32px);
    background-color: $clr1;
    margin: rem(9px) 0;
    margin-top: 0;
    border-radius: 3px;
    border-bottom: 1px solid $clr3 ;
    margin-bottom: rem(8px);
    color: $clr6;

    &:hover {
        background-color: #f4f5f7;
    }

    // padding: rem(5px) rem(10px) rem(5px) rem(10px);
    h1 {
        margin: 0 rem(10px) rem(10px) rem(10px);
        padding-top: 5px;
        font-weight: unset;
        font-size: rem(16px);
    }

    img {
        width: 100%;
        border-top-left-radius: em(3px);
        border-top-right-radius: em(3px);
        background-position: 50%;
        margin-bottom: -12px;
        object-fit: cover;
        aspect-ratio: inherit;
        pointer-events: none
    }

    // textarea{
    //     resize: none;
    //     border:none;
    //     outline: none;
    //     padding-inline: 8px;
    //     padding-top: 6px;

    //     &::placeholder{
    //         color: $dark-blue;
    //         opacity: 0.7;
    //         font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    //         font-size: 14px;
    //     }

    // }

    &-cover {
        border-radius: 3px 3px 0 0;
        height: 32px;
    }

    .labels-container {
        margin: rem(5px) rem(10px) rem(2px) rem(10px);
        padding-top: rem(12px);
        gap: em(5px);
        width: 100%;
        flex-wrap: wrap;

        .label-preview {
            min-width: em(45px);
            cursor: pointer;
            height: em(10px);
            border-radius: 5px;
        }
    }

    .icons-container {
        margin: rem(-6px) 0 rem(1px) rem(12px);
    }

    .left-icons {
        gap: rem(6px);
        padding-bottom: 7px;
        .checklist-check{
            letter-spacing: 0;
        }
    }


    .member-avatar {
        border-radius: 25em;
        height: 28px;
        object-fit: cover;
        width: 28px;
        background-color: #0079bf;
        color: #fff;
        font-weight: 500;
        margin-inline-end: 4px;
        margin-block-end: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .date-display {
        >* {
            min-width: rem(62px);
            border-radius: 3px;
            font-size: rem(14px);
            padding: rem(2px) 0;
            text-align: center;
            justify-content: center;
        }

        .over-due {
            background-color: $red;
            color: white;
        }

        .today {
            background-color: $yellow;
            color: white;
        }
    }
    .preview-done{
        background-color: $green;
        color: white;
        border-radius: 3px;
        font-size: rem(14px);
        padding: rem(2px) 0;
        text-align: center;
        justify-content: center;
        font-size: rem(14px);
    }
    .check-list{
        padding: rem(2px) rem(2px);
        .number{
            padding-inline-start: rem(5px);
            padding-inline-end:rem(2px); 
        }
    }
    attachments{
        letter-spacing: 0;
    }
}