.modal-screen {
    transition: 0.2s;
    opacity: 1;
    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: #000000a3;
}
.edit-blocks {
    width: 576px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    background-color: $clr2;
    width: 768px;
    border-radius: 3px;
    color: $text-dark;
    z-index: 1;
    // padding: 1em;

   
        opacity: 1;
        pointer-events: all;
    

    &>* {
        // margin-top: 0.21em;
    }

    &-header {
        & input {
            background-color: transparent;
            border: none;
            background: #0000;
            border-radius: 3px;
            font-size: 20px;
            font-weight: 600;
            height: 32px;
            max-width: 672px;
            // line-height: 26px;
            min-height: 24px;
            padding-block-end: 7px;
            color: $text-dark;

            &:focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
                outline: none;
            }
        }
    }

    & .fake-text-area {
        min-height: 40px;
        margin-top: 1.2em;
        margin-inline-start: 6px;
        padding-bottom: 2em;
        
        &.written-description{
            background-color: unset;
        }
    }

    .save-description-btn {
        background-color: #0079bf;
        width: 52px;
        height: 32px;
        border: none;
        border-radius: 3px;
        margin: 0;
        cursor: pointer;
    }
    .cancel-description-btn{
        display: inline;
    }
    .real-text-area{
        display: block;
        overflow: hidden;
        overflow-wrap: break-word;
        resize: none;
        height: 108px;
        width: 100%;
        min-height: 40px;
        margin-top: 1.2em;
        padding-bottom: 2em;
        border-radius: 3px;
        border:0;
        
        &:focus {
            box-shadow: inset 0 0 0 2px #0079bf;
            outline: none;
        }
        &::placeholder{
            color: $dark-blue;
            opacity: 0.7;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            font-size: 14px;
            padding-block: 8px;
            padding-inline: 12px;
        }
    }

}

.move-card-link {
    text-decoration: underline;
    cursor: pointer;
}

.fake-button {
    display: block;
    background-color: #091e420a;
    border: none;
    border-radius: 3px;
    color: inherit;
    padding: 8px 12px;
    user-select: none;
    cursor: pointer;

    &:hover {
        background-color: #091e4214;
    }

    &:active {
        background-color: #e4f0f6;
        color: #0079bf;

        img {
            filter: invert(34%) sepia(96%) saturate(2808%) hue-rotate(181deg) brightness(87%) contrast(101%);
        }

    }

}


.edit-block {
    display: grid;
    grid-template-columns: 36px 1fr;
    grid-template-rows: 36px 1fr;
    // padding-inline-start: 0.28em;
    grid-template-areas:
        "icon header"
        ". content";

    .icon {
        grid-area: icon;
        align-self: center;
        justify-self: center;
        height: em(25px);
        vertical-align: text-bottom;
        position: relative;
        top: 6px;
    }

    .header {
        grid-area: header;
        padding-inline-start: 6px;
        padding-top: 0.6rem;
        height: 32px;
        align-self: end;
        margin: 0;
        line-height: 26px;
        letter-spacing: -0.2px;

        >* {
            margin: 0;
        }


    }

    .content {
        grid-area: content;
        padding-inline-start: 0.55rem;
    }
   
}


.comment-box {
    background-color: #fff;
    border-radius: 3px;
    line-height: 20px;

    // height: 20px;
    // margin: -8px -12px;
    // margin-bottom: 12px;
    // padding: 8px 12px;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    box-shadow: 0 0 0 1px #091e4214;

    &:has(textarea:focus) {
        padding-bottom: 4em;
        box-shadow: 0 4px 8px -2px #091e4240,
            0 0 0 1px #091e4214;
    }

    & textarea {
        border-radius: 3px;
        min-height: 20px;
        resize: none;
        overflow: hidden;
        overflow-wrap: break-word;
        width: 100%;
        height: 100%;
        border: none;

        &:hover {
            background-color: #091e4214;
            cursor: pointer;
        }

        &:focus {
            outline: none;

        }
    }
}

.card-cover{
    height: 116px;
    min-height: 116px;
    background-size: initial;
    background-origin: content-box;
    padding: 0px;
    box-sizing: border-box;
    background-position: left center;
}

.modal-close{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #42526e;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    margin: 6px;
    // padding: 4px;
    overflow: hidden;
    transition: background-color 85ms,color 85ms;

    &:hover{
        background-color: #091e4214;
        color: #42526e;
    }
    &:active{
        background-color: #091e4240;
        color: #42526e;
    }

    &::before{
        position: relative;
        top: 1px;
        left: 1px;
    }
}


.card-detail-item{
    &-header{
        color: var(--ds-text-subtle,#5e6c84);
        display: block;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        line-height: 20px;
        margin: 0 8px 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &-content{

    }
}