.modal-screen {
    transition: 0.2s;
    position: fixed;
    opacity: 0;
    inset: 0;
    z-index: 1;
    background-color: #000000a3;
    pointer-events: none;
    min-height: 100vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
    &::-webkit-scrollbar-track {
        background: #696969b7; 
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #ffffffbb; 
        border-radius: 10px;
    }
    &.on{
     opacity: 1;
     pointer-events: all;
    }
}

.edit-blocks {
    width: 576px;
    padding-inline-end: 8px;
}

.modal-container {
    padding: 16px;
}

.modal {
    position: relative;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f4f5f7;
    max-width: 768px;
    border-radius: 3px;
    color: $text-dark;
    z-index: 1;
    overflow: visible;
    margin-bottom: 100px;

    &-header {
         input {
            background-color: green;
            // background-color: transparent;
            border: none;
            background: #0000;
            border-radius: 3px;
            font-size: 20px;
            font-weight: 600;
            height: 32px;
            max-width: 672px;
            // line-height: 26px;
            min-height: 24px;
            padding-block-end: 7px;
            color: $text-dark;

            &:focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
                outline: none;
            }
        }
    }

    & .fake-text-area {
        min-height: 40px;
        margin-top: 1.2em;
        margin-inline-start: 6px;
        // padding-top: 8px;
        padding-inline-start: 13px !important;
        padding-bottom: 2em;

        &.written-description {
            background-color: unset;
        }
    }

    .save-description-btn {
        background-color: #0079bf;
        width: 52px;
        height: 32px;
        border: none;
        border-radius: 3px;
        margin: 0;
        cursor: pointer;
    }

    .cancel-description-btn {
        display: inline;
    }

    .real-text-area {
        display: block;
        overflow: hidden;
        overflow-wrap: break-word;
        resize: none;
        height: 108px;
        width: 100%;
        min-height: 40px;
        margin-top: 1.2em;
        padding-bottom: 2em;
        border-radius: 3px;
        border: 0;
        padding: 8px 12px;
        &:focus {
            box-shadow: inset 0 0 0 2px #0079bf;
            outline: none;
        }

        &::placeholder {
            color: $dark-blue;
            opacity: 0.7;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            font-size: 14px;

        }
    }

}

.move-card-link {
    text-decoration: underline;
    cursor: pointer;
}

.fake-button {
    display: block;
    background-color: #091e420a;
    border: none;
    border-radius: 3px;
    color: inherit;
    padding: 8px 12px;
    user-select: none;
    cursor: pointer;

    &:hover {
        background-color: #091e4214;
    }

    &:active {
        background-color: #e4f0f6;
        color: #0079bf;

        img {
            filter: invert(34%) sepia(96%) saturate(2808%) hue-rotate(181deg) brightness(87%) contrast(101%);
        }

    }

}


.edit-block {
    display: grid;
    grid-template-columns: 36px 1fr;
    grid-template-rows: 36px auto 1fr;
    // padding-inline-start: 0.28em;
    grid-template-areas:
        "icon header"
        "sub-icon content"
        "dynamic-content dynamic-content";

    >.icon {
        grid-area: icon;
        align-self: center;
        justify-self: center;
        // height: 30px;
        position: relative;
        top: 6px;
    }

    .header {
        grid-area: header;
        font-weight: 600;
        padding-inline-start: 6px;
        padding-top: 0.6rem;
        height: 32px;
        align-self: end;
        margin: 0;
        line-height: 26px;
        letter-spacing: -0.2px;

        >* {
            margin: 0;
        }
        & > .modal-btn{
            margin:0;
            &.hide-deets{
                height: 32px;
                padding: 6px 12px;
                margin-top: -6.4px;
            }
        }

        & input {
            background-color: transparent;
            border: none;
            border-radius: 3px;
            font-size: 16px;
            font-weight: 600;
            color: $text-dark;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            width: 100%;
            &:focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
                outline: none;
            }
        }
    }

    .sub-icon {
        align-self: center;
        justify-self: center;
        font-size: 11px;
        padding-top: 13px;

        &.member-avatar{
            margin-top: 14px;
            align-self: flex-start;
        }

    }

    .content {
        grid-area: content;
        padding-inline-start: 0.55rem;

        & .progress-bar {
            appearance: none;
            width: 100%;
            padding-top: 12px;
        }

        & .progress-bar::-webkit-progress-bar {
            border: none;
            background-color: #091e4214;
            border-radius: 3em;
            height: 8px;
            position: relative;
            &::-webkit-progress-value {
                background-color: #5ba4cf;
                border-radius: 3em 0 0 3em;
            }
            &.done::-webkit-progress-value {
                background-color: #61bd4f;
                border-radius: 3em;
            }

        }

        // .progress-bar::-webkit-progress-value {
        //     background-color: #5ba4cf;
        //     border-radius: 3em 0 0 3em;
        // }

        // & .progress-bar.done::-webkit-progress-value {
        //     background-color: #61bd4f;
        //     border-radius: 3em;
        // }
    }

    & .dynamic-content {
        grid-column: dynamic-content;
    }

    & .activity-list{
        padding: 0;
    }
    & .member-avatar{
        border-radius: 25em;
        height: 32px;
        object-fit: cover;
        min-width: 32px;
        background-color: #0079bf;
        color: #fff;
        font-weight: 500;
        margin-inline-end: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: contain;
}

}


.comment-box {
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 16px;
    padding: 0 !important;
    transition-duration: 85ms;
    // transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    box-shadow: 0 0 0 1px #091e4214;
    line-height: 10px;
    &:has( textarea:focus) {
        box-shadow: 0 4px 8px -2px #091e4240,
            0 0 0 1px #091e4214;
    }

    & textarea {
        border-radius: 3px;
        height: 36px;
        padding: 8px 12px;
        resize: none;
        overflow: hidden;
        overflow-wrap: break-word;
        width: 100%;
        border: none;
        line-height: 20px;
        transition-duration: 85ms;
        transition-timing-function: ease;
    
        &:hover {
            background-color: #091e4214;
            cursor: pointer;
        }

        &:focus,
        &:valid {
            outline: none;
            padding: 8px 12px 74px 12px;

            & + .modal-btn.save-btn{
                opacity: 1;
            }
        }
        & + .modal-btn.save-btn{
            opacity: 0;
            position: absolute;
            color: #fff;
            bottom: 10px;
            left: 10px;
            background-color: #0079bf;
            border: none;
            border-radius: 3px;
            margin: 0;
            cursor: pointer;
            transition: 0.2s;
        }
        &:not(:valid) + .modal-btn.save-btn{
            background-color: #091e420a;
            color: #a5adba;
            cursor: not-allowed;
        }
    }
}

.card-cover {
    height: 160px;
    background-size: initial;
    background-origin: content-box;
    padding: 0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 3px 3px 0 0;

    & .cover-btn{
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        font-size: 14px;
        position: absolute;
        top: 120px;
        right: 5px;
        color: #42526e;
        border-radius: 3px;
        padding: 6px;
        padding-inline-end: 12px;
        gap: 5px;
        transition: background-color 85ms, color 85ms;
        
        &:hover {
            background-color: #091e4214;
            color: #42526e;
        }
    
        &:active {
            background-color: #091e4240;
            color: #42526e;
        }
    
        &::before {
            font-size: 16px;
        }
    }
}

.archive-cover{
    align-items: end;
    gap: 15px;
    background-color: #fdfae5;
    background-image: linear-gradient(to right bottom,  rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%,  rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent);
    background-size: 14px 14px;
    min-height: 30px;
    padding: 12px;
    position: relative;
    font-size: 16px;
}

.modal-close {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 20px;
    color: #42526e;
    border-radius: 100%;
    height: 40px !important;
    width: 40px !important;
    line-height: 1.6 !important;
    overflow: hidden;
    transition: background-color 85ms, color 85ms;

    &:hover {
        background-color: #091e4214;
        color: #42526e;
    }

    &:active {
        background-color: #091e4240;
        color: #42526e;
    }

    &::before {
        font-size: 20px;
    }
}

.detail-items {
    margin-inline-start: 36px;
}

.detail-item {
    margin-bottom: 8px;
    margin-inline-start: 8px;

    &-header {
        color: #5e6c84;
        display: block;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        line-height: 20px;
        margin: 0 8px 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-content {
        gap: 4px;
        .member-img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
        & .member-avatar {
            border-radius: 25em;
            height: 32px;
            object-fit: cover;
            width: 32px;
            background-color: #0079bf;
            color: #fff;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: contain;

            &.add {
                background-color: #091e420a;
                color: $text-dark;

                &:hover {
                    background-color: #091e4214;
                }

                &:active {
                    background-color: #e4f0f6;
                    color: #0079bf;
                }

                &::before {
                    font-size: 16px;
                    font-family: icons;
                    content: '\E901'
                }
            }
        }

        .chosen-label {
            display: inline-block;
            position: relative;
            margin-bottom: 0;
            border-radius: 3px;
            padding: 0 12px;
            padding-left: 32px;
            max-width: 100%;
            // min-width: 48px;
            // width: 240px;
            height: 32px;
            box-sizing: border-box;
            line-height: 32px;
            color: #172b4d;
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .label-circle {
            position: absolute;
            top: 8px;
            left: 8px;
            border-radius: 50%;
            width: 16px;
            height: 16px;
        }

        & .label-avatar {
            margin: 0;
            border-radius: 3px;
            gap: 12px;
            padding-inline: 10px;
            max-width: 100%;
            // min-width: 48px;
            height: 32px;
            background-color: #DFE1E6;
            line-height: 32px;
            color: #172b4d;

            &:hover {
                filter: saturate(85%) brightness(85%);
            }

            // &:focus{
            //     outline: black auto 5px;
            // }

            &.add {
                background-color: #091e420a;
                color: $text-dark;
                max-width: max-content;

                &:hover {
                    background-color: #091e4214;
                }

                &:active {
                    background-color: #e4f0f6;
                    color: #0079bf;
                }

                &::before {
                    font-size: 16px;
                    font-family: icons;
                    content: '\E901'
                }
            }

            &>.bullet {
                border-radius: 50%;
                width: 16px;
                height: 16px;
                background-color: greenyellow;
            }
        }

        & .date-display {
            background-color: #091e420a;
            color: $text-dark;
            max-width: max-content;
            margin-inline-start: 4px;
            padding-inline: 8px;
            padding-block: 3px;

            &:hover {
                background-color: #091e4214;
            }

            &:active {
                background-color: #e4f0f6;
                color: #0079bf;
            }

            &::after {
                position: relative;
                top: 3px;
                left: 3px;
                font-size: 16px;
                font-family: icons;
                content: '\E924'
            }

            & span {
                display: none;
                background-color: #61BD4F;
                color: #fff;
                font-size: 12px;
                border-radius: 2px;
                margin-inline-start: 8px;
                padding-inline: 4px;
                padding-block: 2px;
                width: 59.3125px;
                vertical-align: text-bottom;

                &.checked {
                    display: inline;
                }
            }
        }
    }
}


.checkbox {
    position: relative;
    margin: 0;
    width: 16px;
    height: 16px;
    padding: 0;
    border-radius: 2px;
    background-color: #fafbfc;
    box-shadow: #dfe1e6 0px 0px 0px 2px inset;
    transition: 0.2s;
    transition-timing-function: ease-in-out;

    &:hover {
        background-color: #eaecf0;

        &:active {
            background-color: #e4f0f6;
            box-shadow: #5ba4cf 0 0 0 2px inset;
        }
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '\E916';
        transition: 0.2;
        opacity: 0;
    }

    &.checked {
        background-color: #0079bf;
        box-shadow: #0079bf 0px 0px 0px 2px inset;

        &::before {
            color: #fff;
            opacity: 1;
        }
    }
}

.todo-list {
    list-style: none;
    margin: 10px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    & .todo-item-container {
        width: 100%;
        border-radius: 4px;
        transition-duration: 0.3s;
        transition-property: transform, opacity, height, padding, margin, background-color;
        transition-timing-function: ease-in;

        &:hover {
            background-color: #091e420a;
        }

        & .todo-item {
            width: 100%;
            grid-template-rows: auto auto ;

            & .header{
                padding-top: 0;
                font-weight: 400;
            }
            & .icon.checkbox {
                align-self: flex-start;
                // position: relative;
                // // top: 12px;
                // // left: -8px;
            }
            & .content {
                padding-inline-start: 0;
                padding-bottom: 10px;
            }
            & span.checked {
                text-decoration: line-through;
                color: rgb(94, 108, 132);
            }

            & textarea {
                width: 100%;
                resize: none;
                box-sizing: border-box;
                font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
                background-color: #0927420a;
                box-shadow: #091e4221 0 0 0 1px inset;
                border-radius: 3px;
                padding-block: 1px !important;
                padding-inline-start: 12px !important;
                padding: 0;
                outline: 0;
                border: 0;
                height: 56px;
                margin-bottom: 7px;
            }

            &-options {
                gap: 2px;

                >* {
                    background-color: #091e420a;
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    padding-top: 2px;
                    padding-inline-start: 4.5px;

                    &:hover {
                        background-color: #091e4214;
                    }

                    &:active {
                        background-color: #e4f0f6;
                        color: #0079bf;
                    }
                }
            }

        }
        & + .modal-btn{
            margin-inline-start: 35px;
        }
    }
}

.checklist-options {


    > .modal-btn{
        margin: 0;
    }
}

.modal-btn {
    background-color: #091e420a;
    color: $text-dark;
    border-radius: 3px;
    padding: 6px 12px;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    font-size: 14px;
    width: max-content;
    &:hover {
        background-color: #091e4214;
    }

    &:focus {
        background-color: rgb(228, 240, 246);
        outline: 0;

    }
}

.add-todo {
    margin-inline-start: 3em;
    & textarea {
        display: block;
        border-radius: 3px;
        box-shadow: #0079bf 0 0 0 2px inset;
        height: 56px;
        outline: 0;
        border: 0;
        padding: 8px 12px;
        resize: none;
    }

    &-btn.modal-btn{
        background-color: #0079bf;
        color: #fff;
        cursor: pointer;
        :hover{
            background-color: #01446b;
        }
    }

    >* {
        width: 100%;
        > button{
        margin-inline-start: 0;
        margin-top: 8px;
        }
    }
}

.edit-todo {
    // flex-basis: 100%;

    & span {
        position: relative;
        left: 8px;
        top: 1px;
        margin-top: 10px;
        color: #42526e;

        &:hover {
            color: inherit;
        }
    }

    & button {
        margin: 0;
        padding-block: 8px;
     
    }
}


@media (max-width: 750px){
    .modal{
    //    width:95%;
       
       .modal-container{
        .modal-content{
            flex-direction: column;
            width:100%;
            .edit-blocks{
                width:100%;
            }
            .modal-add-menu{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 8px;
                .options-head{
                    flex-basis: 100%;
                }
                .fake-button{
                    width: calc(50% - 8px)
                }
            }
        } 
       }
    }
}