.list-modal{
    width: rem(349px);
    // font-size:1.rem;
    position: fixed;
    justify-content: space-between;
    background: white;
    padding: 0.55em 0.3em;
    border: 1px solid $clr2;
    border-radius: 5px;
      
        header{
          border-bottom: 1px solid $clr2;
          padding-bottom:0.65rem;
          margin-bottom:0.7rem;
          button{
            color:$clr3;
            position: absolute;
            background-color: transparent;
            font-size: 16px;
            right: 2px;
            top: 7px;
          }
        }
        .mini-header{
          margin-left: auto;
          margin-right: auto;
          align-self: center;
        }
        buttons{
          align-items: flex-start;
          gap:0.5rem;
        }
        button{
          color:$clr4;
          margin:0;
        }
        
    main {
        text-align: center;
      }
      
      footer {
        font-size: 1rem;
        color: gray;
      }
  }
  
  
 
  
