.list-modal {
    width: rem(280px);
    position: fixed;
    justify-content: space-between;
    background: white;
    padding: 1em;
    border: 1px solid $clr2;
    border-radius: 5px;
        button{
          color:$clr3;
          position: absolute;
    background-color: transparent;
    font-size: 16px;
    right: -5px;
    top: 8px;
        }
        .mini-header{
          width:100%;
          align-self: center;
          border-bottom: 1px solid $clr3;
        }
        
    main {
        text-align: center;
      }
      
      footer {
        font-size: 1rem;
        color: gray;
      }
  }
  
  
 
  
