.modal-add-menu {
    float: right;
    overflow: hidden;
    padding: 0 16px 8px 8px;
    width: 192px;
    z-index: 10;

    .add-option-img {
        width: 16px;
        margin: 0 6px 0 -6px;
    }

    .add-option-div {
        display: flex;
        // justify-content: center;
        align-items: center;
        margin-top: 8px;
        height: 32px;
    }

    .mini-modal-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 41px;
        margin: 0 auto;
        width: 280px;

        span {
            font-size: 14px;
            margin: 0;
            margin: 0 12px;
            padding: 0 32px;
            color: #5e6c84;
        }

        border-bottom:1px solid #5e6c8458;
    }

    .close-mini-modal-btn {
        color: #5e6c84;
        position: absolute;
        // top: 0;
        background-color: transparent;
        right: 0;
    }

    .option-custom-card {
        display: flex;
        flex-direction: column;
        width: 304px;
        position: absolute;
        padding: 0;
        top: 5px;
        border: 1px solid rgba(128, 128, 128, 0.466);

        .mini-modal-body {
            margin-bottom: 20px;
            margin-top: 10px;
            padding: 0 12px 12px;

            .add-checkbox-btn {
                background-color: #0079bf;
                width: 73px;
                height: 32px;
                border: none;
                border-radius: 3px;
                margin: 0;
                display: block;
                cursor: pointer;
                margin-top: 15px;
            }

            .round-circle {
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }

            .color-space {
                width: 212px;
                text-align: start;
                height: 32px;
                color: black;
                border-radius: 4px;
            }

            .change-text-btn {
                padding: 8px;
                margin: 0;

                .pencil-img {
                    width: 16px;
                }
            }

            .labels-checked-section {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .label-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;
                input{
                    width: 212px;
                    height: 32px;
                    border: none;
                    border-radius: 3px;
                }
            }

            .check-img {
                width: 12px;
            }

            .box-img {
                width: 15px;
            }

            .checked-img {
                width: 15px;
            }

            ul {
                margin: 0;
            }

            .img-container {
                // @for $i from 0 to 3 {
                //     &:nth-child(#{$i}) {
                //       @include random-bgr();
                //     }
                //   }
                @include random-bgr();
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }

            .anonymous-user-img {
                width: 18px;
            }

            .real-checkbox {
                width: 16;
            }

            .user-and-img {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 7px;
            }

            span {
                font-size: 12px;
                display: flex;
                // margin: 0 12px;
                padding: 0 1px;
                color: #5e6c84;
                font-weight: 600;
                margin-top: 16px;
                margin-bottom: 8px;
            }

            input:not(.checkbox) {
                height: 36px;
                width: 280px;
                background-color: #fafbfc;
                box-shadow: inset 0 0 0 2px #dfe1e6;
                border-radius: 4px;
                color: #5e6c84;
                border: none;
                padding: 8px 12px;

                &:focus {
                    outline: 1px solid #0079bf;
                }
            }
        }
    }

    .members-checked-box {
        display: flex;

        .members-checked-box-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 280px;
            height: 40px;
            padding: 6px 12px 5px 5px;

            &:hover {
                background-color: #5e6c8425;
                border-radius: 4px;
            }

            .checkbox {
                border: none;
            }
        }

        // > *{
        //    width:
        // }
    }

    .members-checked-box {
        display: flex;
    }

    .cover-img-input {
        display: none;
    }

    .first-colors-row {
        gap: 5px;

        button {
            margin: 0;
            border-radius: 3px;
            height: 72px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: none;
            width: 50px;
            height: 32px;
            cursor: pointer;
            padding: 0;
            margin-right: 5px;
        }
    }

    .second-colors-row {
        button {
            margin: 0;
            border-radius: 3px;
            height: 72px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: none;
            width: 50px;
            height: 32px;
            cursor: pointer;
            padding: 0;
            margin-right: 5px;
        }
    }

    .red-btn {
        background-color: #EF7564;
    }

    .orange-btn {
        background-color: #FFAF3F;
    }

    .green-btn {
        background-color: #7BC86C;
    }

    .yellow-btn {
        background-color: #F5DD29;
    }

    .purple-btn {
        background-color: #CD8DE5;
    }

    .blue-btn {
        background-color: #5BA4CF;
    }

    .bright-blue-btn {
        background-color: #29CCE5;
    }

    .bright-green-btn {
        background-color: #6DECA9;
    }

    .pink-btn {
        background-color: #FF8ED4;
    }

    .dark-blue-btn {
        background-color: #172B4D;
    }

    .cover-img-btn {
        height: 32px;
        width: 280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}