.sidebar-menu-modal {
    width: 339px;
    height: calc(100vh - 44px);
    top: 0;
    // top: calc(100vh - 44px);
    // bottom: calc(100vh - 44px);
    // bottom: 5px;
    right: 0;
    position: absolute;
    justify-content: space-between;
    background: #f4f5f7;
    z-index: 2;

    .mini-modal-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        margin: 0 auto;
        width: 280px;

        .menu-modal-title {
            flex: 1;
            width: 257px;
            color: #172b4d;
            line-height: 20px;
            font-size: 16px;
            font-weight: 600;
            margin: 14px 32px;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            transition: margin .12s ease-in;
            white-space: nowrap;
        }

        .close-mini-modal-btn {
            color: #5e6c84;
            position: absolute;
            background-color: transparent;
            font-size: 20px;
            padding: 0;
            margin: 0;
            right: 13px;
            top: 10px;

            &::before {
                content: '\E91C';
            }

            &:hover {
                color: #172b4d;
            }
        }

        .go-back-to-menu-arrow {
            color: #5e6c84;
            position: absolute;
            background-color: transparent;
            font-size: 20px;
            padding: 0;
            margin: 0;
            left: 13px;
            top: 7px;

            &::before {
                content: '\e90a';
            }

            &:hover {
                color: #172b4d;
            }
        }
    }

    .mini-modal-content {
        box-sizing: border-box;
        flex: 1 auto;
        padding: 0 6px 8px 12px;
        transform: translateX(0);
        transition-duration: .12s;
        transition-property: transform, opacity;
        transition-timing-function: ease-in;
        width: 100%;
        height: 100%;

        .menu-navigation {
            padding-bottom: 30px;
            padding-top: 20px;
            border-bottom: 1px solid #5e6c8458;
            border-top: 1px solid #5e6c8458;
        }

        .mini-head {
            font-size: 14px;
            display: flex;
            padding: 0 1px;
            line-height: 16px;
            color: #5e6c84;
            font-weight: 600;
            // margin-top: 12px;
            // margin-bottom: 8px;
        }

        .about-this-board-container {
            pointer-events: auto ! important;
            cursor: not-allowed ! important;
            display: flex;
            padding: 5px;
            border-radius: 4px;

            &:hover {
                background-color: #e2e4e9;
            }

            .text-area {
                border-radius: 3px;
                color: var(--ds-text-subtle, inherit);
                display: flex;
                font-weight: 600;
                line-height: 20px;
                text-decoration: none;

                .mello-icon {
                    color: #172b4d;
                    font-size: 20px;
                    position: absolute;
                    top: 29px;
                    left: 24px;
                }

                .text-container {
                    height: 52px;
                    padding: 6px 6px 6px 40px;

                }

                .about-this-board-title {
                    height: 19px;
                }
            }

            .add-description-title {
                color: #5e6c84;
                font-weight: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .change-background {
            display: flex;
            padding: 5px;
            border-radius: 4px;
            position: relative;

            &:hover {
                background-color: #e2e4e9;
            }
        }

        .change-background-img {
            width: 20px;
            height: 20px;
            border-radius: 3px;
            position: absolute;
            top: 11px;
            left: 13px;
        }

        .change-background-text {
            border-radius: 3px;
            display: block;
            font-weight: 600;
            line-height: 20px;
            text-decoration: none;
            padding: 6px 6px 6px 40px;
            position: relative;
        }
        .colors-blocks-container{
            // margin-top: 20px;
            padding-top: 15px;
            border-top: 1px solid #5e6c8458;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            .color-block{
                border-radius: 8px;
                width: 152.5px;
                height: 96px;
                // padding: 0 4px;
                // margin-bottom: 8px;
            }
        }
        .unsplash-photos-container{
            padding-top: 15px;
            border-top: 1px solid #5e6c8458;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            .unsplashPhoto{
                border-radius: 8px;
                width: 152.5px;
                height: 96px;
            }
        }
    }

    .edit-block {
        display: grid;
        color: #172b4d;
        grid-template-columns: 36px 1fr;
        grid-template-rows: 36px 1fr;
        // padding-inline-start: 0.28em;
        grid-template-areas:
            "icon header"
            "content content";

        .member-avatar {
            border-radius: 25em;
            height: 32px;
            object-fit: cover;
            width: 32px;
            background-color: #0079bf;
            color: #fff;
            font-weight: 500;
            margin-inline-end: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        & .content{
            list-style: none;
            padding: 0;
        }
    }

  

    .custom-section {
        color: #172b4d;
    }


    .activity-title {
        font-size: 14px;
    }

    .photos-colors-btn {
        display: flex;
        color: #172b4d;
        padding-bottom: 10px;
        padding-top: 13px;
        border-bottom: 1px solid #5e6c8458;
        border-top: 1px solid #5e6c8458;

        img {
            width: 152.5px;
            height: 96px;
            margin-bottom: 8px;
            border-radius: 3px;
            &:hover{
                opacity: 0.5;
            }
        }

        .photos-div {
            box-sizing: border-box;
            cursor: pointer;
            float: left;
            padding: 0 4px;
            position: relative;
            text-align: center;
            width: 50%;

            .photos-title {
                display: flex;
                justify-content: center;
                margin-top: 8px;
            }
        }

        .colors-div {
            box-sizing: border-box;
            cursor: pointer;
            float: left;
            padding: 0 4px;
            position: relative;
            text-align: center;
            width: 50%;

            .colors-title {
                display: flex;
                justify-content: center;
                margin-top: 8px;
            }
        }
    }

    .custom-section {
        padding-top: 35px;

        .custom-title {
            font-size: 20px;
            line-height: 24px;
            font-weight: 600;
            margin: 0 0 8px;

        }

        .plus-btn-container {
            width: 160px;
            height: 96px;
            background-color: #eaecf0;
            border-radius: 3px;
            &:hover{
                opacity: 0.8;
            }
            .plus-btn {
                font-size: 24px;
                width: 100%;
                color: #5e6c84;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: icons;
                // content: "\e901";
            }
        }
    }
  
}

.activity-list {
    &-item{
        padding-block: 8px;

        & .time{
            font-size: 12px;
            color: #5e6c84;
        }
        & .activity-link{
            text-decoration: underline;
    
        }
    }

}