* {
    box-sizing: border-box;
}

::selection {
    background-color:  #b6e2fc;
    color: inherit;
}

html {
    font-family: montserrat;
    line-height: 1.6;
    color: $clr2;
    font-size: 14px;
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: $clr4;
    margin: 0;
}


p {
    margin: 0 0 1em;
    // max-width: 40ch;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

button{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    svg{
    background-color: none;
    }
    cursor: pointer;
}
pre{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

textarea{
    color: $text-dark;
    ::placeholder{
        color: $text-dark;
    }
}

::after, ::before{
    font-family:icons;
}

input, textarea{
    font-family: inherit;
    font-size: inherit;
}

placeholder{
    font-family: inherit;
}