.board-details {
    // background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2465x1600/560d0ec362004ae022ec06afdb2b06ef/photo-1599974579688-8dbdd335c77f.jpg");
    height: calc(100vh - 44px);
    background-size: cover;
    display:flex;
    overflow: hidden;
    flex-direction: column;
}

.board-header {
    position: relative;
    color: white;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 8px 4px 4px 7px;
    margin-bottom: 2px;

    >* {
        display: flex;
        align-items: center;

        h1 {
            margin: 0;
            font-size: rem(18px);
            
        }

    }

    .board-header-right {
        button {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 3px;
        }
        .separator-line{
            color: rgba(255, 255, 255, 0.514);
        }
        .add-user-btn{
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            width: 75px;
            height: 32px;
            background-color:#fff;
        }
        .more-btn{
            width: 32px;
            height: 32px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .add-user-img{
            width: 17px;
        }
        .filter-btn{
            font-size: 14px;
            display: flex;
            align-items: center;
            width: 78px;
            height: 32px;
            transition: 85ms;
            &:hover{
                background-color: #ffffff4d;
            }
            &.open{
                color: $text-dark;
                background-color:#fff;
            }
        }
        .filter-img-board{
            width: 20px;
        }
    }
    .board-header-left{
        // gap: 10px;
        
        button {
            
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.2);
        }
        .star-board-details-btn{
            position: relative;
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            & > .icon{
                position: relative;
                left: 2px;
            }
        }
        .star-img-board{
            
            width: 16px;
        }
        .board-details-title{
            background-color: transparent;
            border: none;
            background: #0000;
            border-radius: 3px;
            font-size: 18px;
            font-weight: 700;
            height: 32px;
            min-width:1rem;
            // max-width: 672px;
            color: #fff;
            min-height: 24px;
            padding-block-end: 7px;

            &:focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
                outline: none;
                color: $text-dark;
            }
        }
    }
}