.board-details {
    // background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2465x1600/560d0ec362004ae022ec06afdb2b06ef/photo-1599974579688-8dbdd335c77f.jpg");
    height: calc(100vh - 44px);
    background-size: cover;
    display:flex;
    overflow: hidden;
    flex-direction: column;
    .zoom{
        background-color: rgba(0, 0, 0, 0.45);
        visibility:hidden;
        height:40px;
        width:40px;
        border-radius: 4px;
        position:fixed;
        bottom: 8px;
        right: 8px;
        svg{
            transform: scaleX(-1);
            filter: invert(100%) sepia(5%) saturate(19%) hue-rotate(110deg) brightness(106%) contrast(105%);
        }
    }
}

.board-header {
    position: relative;
    color: white;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 8px 4px 4px 7px;
    margin-bottom: 2px;

    >* {
        display: flex;
        align-items: center;

        h1 {
            margin: 0;
            font-size: rem(18px);
            
        }

    }
    .separator-line{
        color: rgba(255, 255, 255, 0.275);
        margin: 0 5px;
    }

    .board-header-right {
        button {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 3px;
        }
        
        .add-user-btn{
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            width: 75px;
            height: 32px;
            background-color:#fff;
        }
        .more-btn{
            width: 32px;
            height: 32px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .add-user-img{
            width: 17px;
        }
        .members-and-share-container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .member-list{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
        }
        .member-avatar-header{
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }
        .filter-btn{
            font-size: 14px;
            display: flex;
            align-items: center;
            width: 78px;
            height: 32px;
            transition: 85ms;
            &:hover{
                background-color: #ffffff4d;
            }
            &.open{
                color: $text-dark;
                background-color:#fff;
            }
        }
        .filter-img-board{
            width: 20px;
        }
    }
    .board-header-left{
        // gap: 10px;
        
        button {
            
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.2);
        }
        .star-board-details-btn{
            position: relative;
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            & > .icon{
                position: relative;
                left: 2px;
            }
        }
        .star-img-board{
            
            width: 16px;
        }
        .board-details-title{
            background-color: transparent;
            border: none;
            background: #0000;
            border-radius: 3px;
            font-size: 18px;
            font-weight: 700;
            height: 32px;
            width:auto;
            // max-width: 672px;
            color: #fff;
            min-height: 24px;
            padding-block-end: 7px;

            &:focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
                outline: none;
                color: $text-dark;
            }
        }
        .dashboard-btn{
            margin: 0;
            margin-inline-start: 5px;
            background-color: #ffffffe6;
            color: $text-dark;
            line-height: 22px;
            &:hover{
                color: #091e42;
                background-color: rgba(255, 255, 255, 0.8);
                cursor: pointer;
            }
            &:active{
                background-color: rgb(255, 255, 255, 0.4);
                color: #fff;
            }
        }
    }
}


@media (max-width: 600px){
    .board-header{
        .add-user-btn.secondary-btn{
        display:none;
        }
    }
    .board-details{
        .zoom{
            visibility:visible;
        }
    }
}
