.gallery-container{
    background-color: #fbfbff;
    height: 100vh;
}

.gallery{
    width: 1129px;
    margin-top: 2.85em;
    color: #172b4d;
    &-sidebar{
        width: 272px;
        padding-inline: 1.2em;

        & img{
            width: 0.9em;
            position: relative;
            margin-inline-end: 0.3em;
            object-fit: cover;
        }

        & > nav{
            border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
            // background-color: transparent;
            & > button{
                padding-block: 0.6em;
                padding-inline-end: 0.6em;
                background-color: transparent;
                width: 100%;
                font-weight: 700;
                color: rgb(23, 43, 77);
                text-align: left;
                border-radius: 3px;
                transition: 0.2s;
                // margin: 0;
                
                &:hover{
                    background-color: rgba(9, 30, 66, 0.08);
                    color: currentColor;
                }
            }
        } 
        
    }

    &-header{
        font-size: 17px;
        margin-inline-start: 2.9em;
        letter-spacing: 0.5px;
        vertical-align: bottom;
        // margin: 0;
        color: $text-dark;
        & img{
            position: relative;
            top: 0.4em;
            left: -0.4em;
            filter: invert(10%) sepia(26%) saturate(4768%) hue-rotate(204deg) brightness(90%) contrast(87%);
            width: 1.7rem;
            height: 1.7rem;
        }
    }
    &-list{
    list-style-type:none;
    padding-inline-start: 0;
    // max-width: 825px;
        & .gallery-item{
            position:relative;
            cursor: pointer;
            height: 5.5em;
            background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2465x1600/560d0ec362004ae022ec06afdb2b06ef/photo-1599974579688-8dbdd335c77f.jpg");
            background-size: cover;
            // todo change width percent at different breakpoints
            margin-right: 2%;
            margin-bottom: 2%;
            width: 31%;
            // min-width: 175px;
            border-radius: 3px;
            &:hover{
                background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2465x1600/560d0ec362004ae022ec06afdb2b06ef/photo-1599974579688-8dbdd335c77f.jpg");
                
                & .board-preview-options{
                    transform: translateX(-150%);
                    opacity: 1;

                }
            }
    
            & .board-preview{
                color: #fff;
                font-weight: 700;
                padding: 8px;
                height: 100%;
                width: 100%;
                
                &-options{
                    height: max-content;
                    position: absolute;
                    bottom: 0;
                    right: -10%;
                    opacity: 0;
                    transition: 0.1s;
                    & > .icon{
                        // transform: scale(0.45);
                        height: 1.125em;
                        width: 1.125em;
                        filter: invert(98%) sepia(2%) saturate(2%) hue-rotate(214deg) brightness(115%) contrast(100%);
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            }
    
    
        }
    }
}


@media (max-width: 600px) {
    .gallery-sidebar{
        display: none;
    }
    .gallery-list{ 
        padding-inline:16px;
    }
}

@media (max-width: 740px){
    .gallery-list > .gallery-item{
        width: 48%;
    }
}