.gallery-container{
    background-color: #fbfbff;
    height: 95vh;
    justify-content: center;
    .main-container-boards{
        width: 1097px;
    }
    .workspace-div{
        padding: 5px 10px;
        margin: 5px;
    }
}

.gallery{
    margin-top: 1.4em;
    color: #172b4d;
    &-sidebar{
        width: rem(272px);
        margin-inline-end: 32px;
        
        
        & > nav{
            border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
            
            .active{
                background-color: #e4f0f6;
                color:#0079bf;
            }

            :first-child.gallery-nav-btn {
                position: relative;
                span{
                    vertical-align: text-bottom;
                }
            }

            margin-top: 11px;
            & > button{
                margin-bottom: 1px;
                // letter-spacing: 0.5px;
                font-size: 14px;
                background-color: transparent;
                // padding-block: 0.6em;
                width: 100%;
                font-weight: 700;
                color: rgb(23, 43, 77);
                text-align: left;
                border-radius: 3px;
                transition: 0.2s;
                // margin: 0;
                &.board-btn-page{
                    padding-bottom:20px;
                }
                &:hover{
                    background-color: rgba(9, 30, 66, 0.08);
                    color: currentColor;
                }
                
            }
        } 
        
    }

    &-header{
        font-size: 16px;
        // letter-spacing: 0.2px;
        // vertical-align: bottom;
        // margin: 0;
        color: $text-dark;
    }
    .boards-showcase-container{
        flex-grow: 1;
        // margin-top: rem(47px);

        .gallery-header{
            padding-inline-start:0.5rem ;
        }
    }
    &-list{
    list-style-type:none;
    padding-inline-start: 0;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(136px, 194px) ) ;
        & .gallery-item{
            position:relative;
            cursor: pointer;
            // background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            // url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2465x1600/560d0ec362004ae022ec06afdb2b06ef/photo-1599974579688-8dbdd335c77f.jpg");
            background-size: cover;
            margin-bottom: 1%;
            // width: 23.5%;
            // min-width: 175px;
            border-radius: 3px;
            &:hover{
           
                
                & .board-preview-options{
                    transform: translateX(-100%);
                    opacity: 1;
                }
            }
    
            & .board-preview{
                margin-bottom: 15px;

                color: #fff;
                font-weight: 700;
                padding: 8px;
                height: 96px;
                border-radius: 3px;
                text-decoration: none;
                &-options{
                    height: max-content;
                    position: absolute;
                    bottom: 0;
                    right: -10%;
                    opacity: 0;
                    transition: 0.1s;
                    & > span{
                        font-size: 14px;
                        color: #fff;
                        transition: 0.1s;
                        &:hover{
                            font-size: 19.2px;
                        }
                    }
                }
            }

            .fake-board-preview{
                background-color: #091e420a;
                border-radius: 3px;
                color: $clr4;
                font-weight: 400;
                transition-duration: 85ms;
                text-align: center;
                transition-property: background-color,border-color,box-shadow;
                transition-timing-function: ease;
                &:hover {
                    background-color: #091e4214;
                }
            
                &:active {
                    background-color: #e4f0f6;
                    color: #0079bf;
                        }
                    }

            
            }
        }
    }


@media (max-width: 600px) {
    .gallery-sidebar{
        display: none;
    }
}



