.login-signup {
    position: absolute;
    background-color: #fafbfc;
    text-align: center;
    height: 100vh;
    width: 100%;

    

    .login-signup-form {
        text-align: -webkit-center;

        .login-signup-btn {
            background: #5AAC44;
            padding: 8px 12px;
            border-radius: 4px;
            // line-height: 30px;
            margin: 0;
            width: 320px;
            height: 35px;
            margin-bottom: 50px;
            // border-bottom: 1px solid black;
            // text-align: center;
            font-weight: 700;

            &:hover {
                background: #61bd4f;
            }
        }

        input {
            color: #4d4d4d;
            padding: 7px;
            border: 2px solid #dfe1e6;
            border-radius: 3px;
            width: 320px;
            height: 40px;
            outline: none;
            margin-bottom: 20px;

            &:focus {
                // box-shadow: #0079bf 0 0 0 2px inset;
                border: 2px solid #0079bf;

            }
        }
    }

    .logo-login-page {
        text-align: center;
        display: block;
        margin: 40px auto;

        width: 183px;
        height: 40px;
    }

    .login-signup-section {
        box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
        background-color: #fff;
        width: 400px;
        // height: 576px;
        margin: 0 auto;
        padding: 25px 40px;
        border-radius: 4px;

        .login-signup-title {
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 25px;
        }
        .upload-avatar{
            margin-bottom: 20px;
        }
        .user-signup-img{
            width: 320px;
            height: 240px;
            margin-bottom: 20px;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .change-login-signup-container {
        // padding-top: 80px;
border-top: 1px solid #cccccc;
        .change-login-signup-btn {
            color: #0052CC;
            padding: 4px 10px;
            border-radius: 3px;
            line-height: 40px;
        }
    }

    @media (max-width: 440px){
        .login-signup-section{
            width: 300px;
        }
        .user-signup-img{
            width: 220px;
            height: 180px;
        }
        .login-signup-btn {
            max-width: 100%;
        }
        input {
            max-width: 100%;
        }
    }

}

