.icon{
    font-family:icons;
    font-weight: 400;
    text-align: center;
    &.sm{
        font-size: 16px;
        height: 20px;
        line-height: 20px;
        width: 20px;
        letter-spacing: 4px;
        vertical-align: middle;
    }
    &.lg{
        vertical-align: sub;
        height: 32px;
        line-height: 32px;
        // letter-spacing: 7px;
        font-size: 24px;
    }

    &.time::before{
        content: '\E91B'
    }
    &.board::before{
        content: '\E90B'
    }
    &.template::before{
        content: '\E96D'
    }
    &.pulse::before{
        content: '\E938'
    }
    &.star-empty::before{
        content: '\E966'
    }
    &.star-full::before{
        content: '\E967'
    }
    &.filter::before{
        content: '\E92E'
    }
    &.share::before{
        content: '\E902'
    }
    &.card::before{
        content: '\E912'
    }
    &.description::before{
        content: '\E922'
    }
    &.activity::before{
        content: '\E900'
    }
    &.user::before{
        content: '\E946'
    }
    &.label::before{
        content: '\E93F'
    }
    &.checklist-check::before{
        content: '\E91A'
    }
    &.attach::before{
        content: '\E908'
    }
    &.cover::before{
        content: '\E914'
    }
    &.edit::before{
        content: '\E928'
    }
    &.ex::before{
        content:'\E91C'
    }
    &.archive::before{
        content:'\E907'
    }
    &.close::before{
        content: '\E91C'
    }
    &.more::before{
        content: '\E952'
    }
    &.description::before{
        content: '\E922'
    }
    &.add::before{
       content: '\E901'
    }
    &.checkList::before{
       content: '\E918'
    }
    &.done::before{
        content: '\E916'
    }
    &.expand-down::before{
        content: '\E924'
    }
    &.smiley::before{
        content: '\E92A';
    }
    &.attachment::before{
        content: '\E908';
    }
}