.icon{
    font-family:icons;
    font-weight: 400;
    text-align: center;
    &.sm{
        font-size: 16px;
        height: 20px;
        line-height: 20px;
        width: 20px;
        letter-spacing: 4px;
        vertical-align: middle;
    }
    &.lg{
        vertical-align: sub;
        height: 32px;
        line-height: 32px;
        letter-spacing: 7px;
        font-size: 24px;
    }

    &.time::before{
        content: '\E91B'
    }
    &.board::before{
        content: '\E90B'
    }
    &.template::before{
        content: '\E96D'
    }
    &.pulse::before{
        content: '\E938'
    }
    &.star-empty::before{
        content: '\E966'
    }
}