// Greys
$clr1: #ffffff;
$clr2: #ebecf0;
$clr3: #95adbe;
$clr4: #6b778c;
$clr5: #58667f;

// Colors
$light-yellow: #faf3c0;
$yellow: #f5dd29;
$light-red: #ef7564;
$red: #de350b;
$light-green: #d6ecd2;
$green: #7bc86c;
$light-blue:#0079bf;
$blue:#0079bf;
$dark-blue:#172b4d;
$text-dark: #172b4d;



// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 740px;
$normal-breakpoint: 900px;